.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  background: linear-gradient(
      90.87deg,
      rgba(255, 104, 1, 0.8) 0.72%,
      rgba(255, 32, 1, 0.8) 99.25%
    ),
    url(../img/contact-us/call-to-action.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 16px;
    height: 421px;
    padding: 96px 457px;
  }

  &__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    min-width: 285px;
  }

  &__button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.5px 16px;
    width: 152px;
    height: 56px;
    background: #ffffff;
    border-radius: 15px;
    border: none;
  }
  &__button-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;
    background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.contact-us__button:hover {
  background: #ffffffc7;
}
