.form-container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.form-container.form-open {
  display: flex;
}

.form-body {
  box-sizing: border-box;
  position: relative;
  max-width: 662px;
  width: 100%;
  background: #01040d;
  border-radius: 4px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.form-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  top: 15px;
  right: 13.13px;
  z-index: 13;
  &__line {
    position: absolute;
    width: 24px;
    height: 3.42px;
    background-color: #ffffff;
  }
}

.form-close__line:nth-child(2) {
  transform: rotate(90deg);
}
.form-close:hover .form-close__line {
  background-color: #afaeae;
}

.form-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
  z-index: 12;
}

.form {
  max-width: 561.36px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 55px 44.64px 49px 40px;
  padding: 0 10px 0 10px;
  &__input-text-type-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 24px;
  }
  &__user-name-wrapper {
    display: flex;
    gap: 40px;
  }
  &__label {
    width: 100%;
  }

  &__input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
    max-width: 560px;
    width: 100%;
    height: 33px;
    padding-left: 20px;
    background-color: unset;
    border: none;
    border-bottom: solid 1px;
  }

  &__checkbox {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 50px;
    height: 24px;
  }

  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #ffffff;
  }

  &__button {
    cursor: pointer;
    box-sizing: border-box;
    max-width: 560px;
    width: 100%;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: unset;
  }
  &__button-text {
    padding-top: 21px 259px 21px 257px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
}

.form__input:hover {
  opacity: 1;
}

a.form__link {
  text-decoration: underline;
}

.form__button:hover {
  background-color: #ffffffd7;
}
.form__button:hover .form__button-text {
  color: #373737;
}
