.fqa {
  display: flex;
  justify-content: center;
  padding: 40px 111px;
  min-height: 600px;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 136px;

    position: relative;
    width: 1439.45px;
    height: 100%;
  }
  &__info-wrapper {
    display: flex;
    gap: 20px;
    width: 491px;
    flex-direction: column;
    position: relative;
  }

  &__section-questions-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 488px;
  }

  &__question-wrapper {
    width: 488px;
    height: 56px;

    /* Main Gradient */

    background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
    border-radius: 15px;
    position: relative;
    transition: all 0.15s ease;
  }

  &__question {
    position: absolute;
    height: 24px;
    left: 18.5px;
    top: calc(50% - 24px / 2);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    /* Main Colors/White #FFFFFF */

    color: #ffffff;
  }
  &__question-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    right: 18px;
    top: 16px;
    bottom: 16px;
  }
  &__question-button-line {
    position: absolute;
    // left: 20.83%;
    // right: 20.83%;
    // top: 50%;
    // bottom: 50%;
    width: 14px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  &__answer {
    display: none;
    position: absolute;
    width: 341px;
    height: 72px;
    left: 19.5px;
    top: 60px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    color: #808080;
    //  transition: all 0.2s ease;
  }

  &__decor-wrapper {
    max-width: 590.45px;
    width: 100%;
    height: 520px;
    position: relative;
    display: flex;
    align-items: center;
  }
  &__decor-wrapper-image {
    position: absolute;
    max-width: 421px;
    width: 100%;
    max-height: 520px;
    height: 100%;
    background-image: url(../img/fqa/saly.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  }
  &__decor-wrapper-rectangle {
    position: absolute;
    max-width: 392.45px;
    width: 100%;
    max-height: 436.58px;
    height: 100%;
    right: 0;

    /* Main Gradient */

    background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
    border-radius: 15px;
    z-index: -1;
  }
}

.fqa__question-button-line:nth-child(2) {
  transform: rotate(90deg);
}

.fqa__question-wrapper.open .fqa__question-button {
  right: 17px;
  top: 15px;
}
.fqa__question-wrapper.open .fqa__question-button-line:nth-child(1) {
  border: 2px solid #333333;
}
.fqa__question-wrapper.open .fqa__question-button-line:nth-child(2) {
  display: none;
}

.fqa__question-wrapper:hover {
  opacity: 0.7;
}
.fqa__question-wrapper.open {
  box-sizing: border-box;

  width: 488px;
  height: 148px;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 13px,
        transparent 13px
      )
      0% 0%/15px 15px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 13px, transparent 13px)
      100% 0%/15px 15px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 13px, transparent 13px)
      0% 100%/15px 15px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 13px, transparent 13px)
      100% 100%/15px 15px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 4px)
      calc(100% - 30px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 30px)
      calc(100% - 4px) no-repeat,
    linear-gradient(90deg, #ff6800 0%, #ff1f00 100%) no-repeat 100% 100%;

  //     border: 2px solid;

  // border-image-source: linear-gradient(90deg, #FF6800 0%, #FF1F00 100%);
}
.fqa__question-wrapper.open .fqa__question {
  top: 15px;
  color: #333333;
}

.fqa__question-wrapper.open .fqa__answer {
  display: flex;
}
.fqa-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;

  width: 437px;
  height: 71px;
}
