.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 0px 60px;
  position: relative;
  min-height: 533px;
  height: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 1440px;
    width: 100%;
  }
}

.reviews-title-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.swiper-reviews {
  &__wrapper {
  }

  &__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  &__card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 24px;
    width: 384px;
    height: 231px;
    box-shadow: 0px 10px 20px #00000026;

    background: radial-gradient(
          circle at 100% 100%,
          #ffffff 0,
          #ffffff 13px,
          transparent 13px
        )
        0% 0%/15px 15px no-repeat,
      radial-gradient(
          circle at 0 100%,
          #ffffff 0,
          #ffffff 13px,
          transparent 13px
        )
        100% 0%/15px 15px no-repeat,
      radial-gradient(
          circle at 100% 0,
          #ffffff 0,
          #ffffff 13px,
          transparent 13px
        )
        0% 100%/15px 15px no-repeat,
      radial-gradient(circle at 0 0, #ffffff 0, #ffffff 13px, transparent 13px)
        100% 100%/15px 15px no-repeat,
      linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 4px)
        calc(100% - 30px) no-repeat,
      linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 30px)
        calc(100% - 4px) no-repeat,
      linear-gradient(90deg, #ff6800 0%, #ff1f00 100%) no-repeat 100% 100%;
    border-radius: 15px;
  }

  &__card-review {
    /* Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. */
    width: 300px;
    height: 72px;

    /* White Background/P (Medium) (White Background) */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    text-align: center;
    color: #808080;
  }

  &__card-about-people {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 179px;
    height: 55px;
  }

  &__card-photo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  &__card-people-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 112px;
    height: 34px;
  }

  &__card-people-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    /* Black Shades And White/Black S:80 | #333333 */

    color: #333333;
  }

  &__card-people-position {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    /* Black Shades And White/Black S:70 | #666666 */

    color: #666666;
  }
}

//swiper
.swiper {
  width: 100%;
  min-height: 279px;
  height: 100%;
  // position: inherit;
}

.swiper-pagination {
  height: 16px;
  width: 96px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: flex-start;
}

.swiper-pagination-bullet {
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #d9d9d9;
  border: 2px solid #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;

  /* Main Gradient */

  background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
  border: none;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  width: 100%;
  gap: 24px;
  display: flex;
  justify-content: center;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}
